<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{projectName}}</a>
        </div>
        <!--div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <h1>欢迎你，管理员</h1>
        <p class="lead">[建设中]</p>
    </div>


    <a target="_blank" class="btn btn-primary btn-lg" href="/admin/content" type="button">内容管理</a>

    <div class="row-fluid">
        <div class="span12">
            <h3>积极</h3>
            <table class="table table-hover  table-bordered">
                <thead>
                <tr>
                    <th>
                        内部编号
                    </th>
                    <th>
                        测试时间
                    </th>
                    <th>
                        用户IP
                    </th>
                    <th>
                        音乐情感
                    </th>
                    <th>
                        复原力总分
                    </th>
                    <th>
                        详情
                    </th>
                    <th>
                        删除
                    </th>
                </tr>
                </thead>
                <tbody id="table_list">
                {{#each_po users}}
                    <tr class="item-id-{{_id}}">
                        <td>
                            {{_id}}
                        </td>
                        <td>
                            {{formatDate date}}
                        </td>
                        <td>
                            {{ip}}
                        </td>
                        <td>
                            {{music_mood}}
                        </td>
                        <td>
                            {{res_sum}}
                        </td>
                        <td>
                            <a target="_blank" class="btn btn-primary" href="/admin?user={{_id}}" type="button">查看</a>
                        </td>
                        <td>
                            <button class="btn btn-danger del" type="button" data-id="{{_id}}">删除</button>
                        </td>
                    </tr>
                {{/each_po}}

                </tbody>
            </table>

            <script id="table_template" type="text/x-handlebars-template">

            </script>

            <!--script type="text/javascript">
                $(document).ready(function() {
                    var table_template = Handlebars.compile($("#table_template").html());
                    console.log("Here!");
                    Handlebars.registerHelper("moment", function (date) {
                        //return moment(date).format("YYYY/MM/DD HH:mm:ss");
                        return Date(date).toString('yyyy-MM-dd');
                    });
                    console.log("Here!");
                    $("#table_list").html(table_template({{!users}}));
                });
            </script-->

        </div>
    </div>

    <div class="row-fluid">
        <div class="span12">
            <h3>消极</h3>
            <table class="table table-hover  table-bordered">
                <thead>
                <tr>
                    <th>
                        内部编号
                    </th>
                    <th>
                        测试时间
                    </th>
                    <th>
                        用户IP
                    </th>
                    <th>
                        音乐情感
                    </th>
                    <th>
                        复原力总分
                    </th>
                    <th>
                        详情
                    </th>
                    <th>
                        删除
                    </th>
                </tr>
                </thead>
                <tbody id="table_list">
                {{#each_ne users}}
                    <tr class="item-id-{{_id}}">
                        <td>
                            {{_id}}
                        </td>
                        <td>
                            {{formatDate date}}
                        </td>
                        <td>
                            {{ip}}
                        </td>
                        <td>
                            {{music_mood}}
                        </td>
                        <td>
                            {{res_sum}}
                        </td>
                        <td>
                            <a target="_blank" class="btn btn-primary" href="/admin?user={{_id}}" type="button">查看</a>
                        </td>
                        <td>
                            <button class="btn btn-danger del" type="button" data-id="{{_id}}">删除</button>
                        </td>
                    </tr>
                {{/each_ne}}

                </tbody>
            </table>

            <script id="table_template" type="text/x-handlebars-template">

            </script>

            <!--script type="text/javascript">
                $(document).ready(function() {
                    var table_template = Handlebars.compile($("#table_template").html());
                    console.log("Here!");
                    Handlebars.registerHelper("moment", function (date) {
                        //return moment(date).format("YYYY/MM/DD HH:mm:ss");
                        return Date(date).toString('yyyy-MM-dd');
                    });
                    console.log("Here!");
                    $("#table_list").html(table_template({{!users}}));
                });
            </script-->

        </div>
    </div>


    <a target="_blank" class="btn btn-primary btn-lg" href="/admin/excel" type="button">导出数据</a>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript">

    $(document).ready(function() {

        /*//这段代码不需要了。Exression helper在服务器处理了。
        Handlebars.registerHelper("formatDate", function (date) {
            //return moment(date).format("YYYY/MM/DD HH:mm:ss");
            return Date(date).toString('yyyy-MM-dd');
        });*/

        $(function(){
            $('.del').click(function(event){
                //console.log("$(event.target) = " + $(event.target));
                //console.log("event.target = " + event.target);

                /*jQuery知识：HTML5自定义data-*属性，用jQuery的.data()访问
                参考：http://www.vaikan.com/html-5-data-attributes-how-to-use-them-and-why/
                http://www.w3school.com.cn/jquery/data_jquery_data.asp
                * */

                var id = $(event.target).data('id');
                var tr = $('.item-id-' + id);
                //length 属性包含 jQuery 对象中元素的数目。这里应该是表有多少行（表头也算一行）。

                /*这种在?后面接的id，用req.query来拿到，而非req.body。参考
                http://xuyuan923.github.io/2014/10/10/node-tutorial-req/
                 */
                $.ajax({
                    type: 'DELETE',
                    url: '/admin?id=' + id
                }).done(function(results){
                    if (results.success == 1){
                        if (tr.length > 0) {
                            tr.remove();
                        }
                    }
                });
            });
        });
    });
</script>