<div class="container">
    {{>navigate}}

    <div hidden id="invalidInputWarning" class="alert alert-warning alert-dismissible in fade" role="alert">
        <strong>提示！</strong>输入不合法！
    </div>



    <div class="jumbotron">
        <h1 class="cover-heading">实验第一部分。</h1>
        <p id="countdown" class="lead">以下语句描述了个人生活中的一些情况，请您将它与您目前的真实情况进行比较，并选择您认为合适的选项。从1颗心到7颗心分别表示：完全不符合、比较不符合、有点不符合、不确定、有点符合、比较符合、完全符合。</p>

        <img hidden data-no-instant src="/images/0.jpg" height="500" width="500" alt="图片1"/>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div hidden>
            <audio id="myAudio" controls='controls'>
                <source data-no-instant src='{{music}}' type="audio/mp3">
                您的浏览器不支持HTML5播放音乐！
            </audio>
        </div>

        <div hidden id="playButton" class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2b">
            <span class='hi-icon hi-icon-videos' onclick="playMusic()">Music</span>
        </div>

    <!--form>
        {{!#each mood}}
        <div class="form-group">
        <label>{{.}}</label>
        <input name="不加名字就特么不好使啊啊啊啊" id="heart-rating" type="number" class="rating" min="0" max="5" step="1" data-size="sm" data-symbol="&#x1f44d" data-default-caption="{rating} agree" data-star-captions="{}" value=2/>
        {{!--heart &#xe005; thumbs up &#x1f44d--}}
        </div>
        {{!/each}}
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">确定</button>
    </form-->

        <div class="container-fluid">

            <div class="col-md-10">
                <form id="resiliency_rating">
                    {{#each resiliency}}
                        <div class="form-group">
                            <label>{{.}}</label>
                            <input class="resiliency-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                        </div>
                    {{/each}}
                    <a id="rs_button" class="btn btn-lg btn-success" role="button" type="submit">提交</a>
                </form>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <form hidden id="mood_rating11">
                        {{#leftrow mood1}}
                            <div class="form-group">
                                <label>{{.}}</label>
                                <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                            </div>
                        {{/leftrow}}
                        <a id="md_button1" class="btn btn-lg btn-success" role="button" type="submit">提交</a>
                    </form>
                </div>
                <div class="col-md-6">
                    <form hidden id="mood_rating12">
                        {{#rightrow mood1}}
                            <div class="form-group">
                                <label>{{.}}</label>
                                <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                            </div>
                        {{/rightrow}}
                    </form>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <form hidden id="mood_rating21">
                    {{#leftrow mood2}}
                        <div class="form-group">
                            <label>{{.}}</label>
                            <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                        </div>
                    {{/leftrow}}
                        <a id="md_button2" class="btn btn-lg btn-success" role="button" type="submit">提交</a>
                    </form>
                </div>
                <div class="col-md-6">
                    <form hidden id="mood_rating22">
                    {{#rightrow mood2}}
                        <div class="form-group">
                            <label>{{.}}</label>
                            <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                        </div>
                    {{/rightrow}}
                    </form>
                </div>
            </div>
        </div>


    </div>

    <hr>

    <div class="footer">
        <p>© Company 2013</p>
    </div>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/javascripts/star-rating.min.js"></script>
<script src="/javascripts/underscore.min.js"  ></script>
<script src="/javascripts/store.js" ></script>
<script src="/javascripts/testProcedure.js" ></script>
<script src="/javascripts/sweet-alert.min.js"></script>

<script>

    $(document).ready(function() {
        //console.log('document ready');
        //InstantClick.on('fetch', function () {
            ///console.log('instantclick change');
            $('.heart-rating').rating({
                'showCaption': true,
                'stars': '5',
                'min': '0',
                'max': '5',
                'step': '1',
                'size': 'sm',
                'starCaptions': {0: '未选', 1: '几乎没有', 2: '比较少', 3: '中等程度', 4: '比较多', 5: '极其多'}
            });

            $('.resiliency-rating').rating({
                'showCaption': true,
                'stars': '7',
                'min': '0',
                'max': '7',
                'step': '1',
                'size': 'sm',
                'starCaptions': {0: '未选', 1: '完全不符合', 2: '比较不符合', 3: '有点不符合', 4: '不确定', 5: '有点符合', 6: '比较符合', 7: '完全符合'}
            });

            var music = "{{music}}";
            var isPositive = true;
            if (music.substring(5, 7) == 'ne') isPositive = false;

            var currentUser = "user" + store.get('pagecount');
            //console.log(store.get(currentUser));
            if (!store.get(currentUser)) {
                swal({
                    title: "非法页面访问！",
                    type: "error",
                    timer: 3000
                });
                setTimeout("window.location.href='/'", 3000);
            }

            $("#rs_button").click(function () {
                resiliency(currentUser, isPositive);
            });

            $("#md_button1").click(function () {
                baseline();
            });

            $("#md_button2").click(function () {
                finalTest(currentUser);
            });

        });
    //});

</script>