<div class="container">
    {{>navigate}}

    <div hidden id="invalidInputWarning" class="alert alert-warning alert-dismissible in fade" role="alert">
        <strong>提示！</strong>输入不合法！
    </div>



    <div class="jumbotron">
        <h1 class="cover-heading">欢迎来到本实验。</h1>
        <p id="countdown" class="lead">首先，请根据您此时此刻的心情状态，对以下形容词进行评分。从一颗心到五颗心分别表示：几乎没有、比较少、中等程度、比较多、极其多</p>

        <img hidden src="/images/0.jpg" height="500" width="500" alt="图片1"/>
    </div>

    <hr>

    <div class="row-fluid marketing">
        <div hidden>
            <audio id="myAudio" controls='controls' loop='loop'>
                <source  src='{{music}}' type="audio/mp3">
                您的浏览器不支持HTML5播放音乐！
            </audio>
        </div>

        <div hidden id="playButton" class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2b">
            <span class='hi-icon hi-icon-videos' onclick="playMusic()">Music</span>
        </div>

    <!--form>
        {{!#each mood}}
        <div class="form-group">
        <label>{{.}}</label>
        <input name="不加名字就特么不好使啊啊啊啊" id="heart-rating" type="number" class="rating" min="0" max="5" step="1" data-size="sm" data-symbol="&#x1f44d" data-default-caption="{rating} agree" data-star-captions="{}" value=2/>
        {{!--heart &#xe005; thumbs up &#x1f44d--}}
        </div>
        {{!/each}}
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">确定</button>
    </form-->

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <form id="mood_rating11">
                        {{#leftrow mood1}}
                            <div class="form-group">
                                <label>{{.}}</label>
                                <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                            </div>
                        {{/leftrow}}
                        <a id="md_button1" class="btn btn-lg btn-success" role="button" type="submit">提交</a>
                    </form>
                </div>
                <div class="col-md-6">
                    <form id="mood_rating12">
                        {{#rightrow mood1}}
                            <div class="form-group">
                                <label>{{.}}</label>
                                <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                            </div>
                        {{/rightrow}}
                    </form>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <form hidden id="mood_rating21">
                    {{#leftrow mood2}}
                        <div class="form-group">
                            <label>{{.}}</label>
                            <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                        </div>
                    {{/leftrow}}
                        <a id="md_button2" class="btn btn-lg btn-success" role="button" type="submit">提交</a>
                    </form>
                </div>
                <div class="col-md-6">
                    <form hidden id="mood_rating22">
                    {{#rightrow mood2}}
                        <div name="form-group">
                            <label>{{.}}</label>
                            <input class="heart-rating" data-symbol="&#xe005" name="{{.}}" value=0 />
                        </div>
                    {{/rightrow}}
                    </form>
                </div>
            </div>
        </div>


    </div>

    <hr>

    <div class="footer">
        <p>© Company 2013</p>
    </div>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/javascripts/store.js" ></script>
<script src="/javascripts/testProcedure.js" ></script>
<script src="/javascripts/sweet-alert.min.js" ></script>
<script src="/javascripts/star-rating.min.js" ></script>
<script src="/javascripts/underscore.min.js" ></script>
<script src="/javascripts/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<script type="text/javascript">

    $(document).ready(function(){
        $('.heart-rating').rating({'showCaption':true, 'stars':'5', 'min':'0', 'max':'5', 'step':'1', 'size':'sm', 'starCaptions': {0:'未选', 1:'几乎没有', 2:'比较少', 3:'中等程度', 4:'比较多', 5: '极其多'}});

        var currentUser = "user" + store.get('pagecount');
        
        $("#md_button1").click(function(){
            baseline(currentUser);
        });

        $("#md_button2").click(function(){
            finalTest(currentUser);
        });

    });
</script>