<div class="container">
    {{>navigate}}

    <div hidden id="invalidInputWarning" class="alert alert-warning alert-dismissible in fade" role="alert">
        <strong>提示！</strong>输入不合法！
    </div>



    <div class="jumbotron">
        <h1 class="cover-heading">欢迎来到本实验。</h1>
        <p id="countdown" class="lead">首先，请根据您此时此刻的心情状态，对以下形容词进行评分。从一颗心到五颗心分别表示：几乎没有、比较少、中等程度、比较多、极其多</p>

        <img hidden src="/images/0.bmp" height="500" width="500" alt="图片1"/>
    </div>

        <hr>

    <div class="row-fluid marketing">
        <div hidden>
            <audio id="myAudio" controls='controls' loop='loop'>
                <source  src='/mp3/荒野の果てへ.mp3' type="audio/mp3">
                您的浏览器不支持HTML5播放音乐！
            </audio>
        </div>

        <div hidden id="playButton" class="hi-icon-wrap hi-icon-effect-2 hi-icon-effect-2b">
            <span class='hi-icon hi-icon-videos' onclick="playMusic()">Music</span>
        </div>

    <!--form>
        {{!#each mood}}
        <div class="form-group">
        <label>{{.}}</label>
        <input name="不加名字就特么不好使啊啊啊啊" id="heart-rating" type="number" class="rating" min="0" max="5" step="1" data-size="sm" data-symbol="&#x1f44d" data-default-caption="{rating} agree" data-star-captions="{}" value=2/>
        {{!--heart &#xe005; thumbs up &#x1f44d--}}
        </div>
        {{!/each}}
        <button id="singlebutton" name="singlebutton" class="btn btn-primary">确定</button>

    </form-->

        <form id="mood_rating1">
            {{#mood1}}
                <div class="form-group">
                    <label>{{.}}</label>
                    <input  type="number" class="rating " min="0" max="5" step="1" data-size="sm" data-symbol="&#xe005" data-default-caption="{rating} agree" data-star-captions="{}" type="number" name="{{.}}" value=0 /><br />
                </div>
            {{/mood1}}
            <a id="md_button1" class="btn btn-lg btn-success" role="button" type="submit">提交</a>
        </form>

        <form hidden id="mood_rating2">
            {{#mood2}}
                <div class="form-group">
                    <label>{{.}}</label>
                    <input  type="number" class="rating " min="0" max="5" step="1" data-size="sm" data-symbol="&#xe005" data-default-caption="{rating} agree" data-star-captions="{}" type="number" name="{{.}}" value=0 /><br />
                </div>
            {{/mood2}}
            <a id="md_button2" class="btn btn-lg btn-success" role="button" type="submit">提交</a>
        </form>

    </div>

    <hr>

    <div class="footer">
        <p>© Company 2013</p>
    </div>

</div> <!-- /container -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/store.js"></script>
<script src="/javascripts/testProcedure.js"></script>
<script src="/javascripts/sweet-alert.js"></script>
<script src="/javascripts/star-rating.js"></script>
<script type="text/javascript">

    $(document).ready(function(){

        $("#md_button1").click(function(){
            var x = $("#mood_rating1").serializeArray();
            var valid = true;
            $.each(x, function(i, field){
                if (field.value == "0") {
                    swal("哦——","请将本页所有评分项填写全！","warning");
                    valid = false;
                    return;
                }
            });
            if(!valid) return;
            var currentUser = "user" + store.get('pagecount');
            var userObj = JSON.parse(store.get(currentUser));
            var requestBody = {};
            userObj['mood_test'] = {};
            $.each(x, function(i, field){
                userObj.mood_test[field.name] = [field.value];
                //never write xobj.field.name because xobj has no proporty named 'field'
            });
            var objStr = JSON.stringify(userObj);
            store.set(currentUser, objStr);
            swal({
                title: "第一部分实验已完成！",
                type: "success",
                timer: 3000
            });
            setTimeout("tutorial()", 3000);
        });



        $("#md_button2").click(function(){
            var x = $("#mood_rating2").serializeArray();
            //console.log(x);
            var valid = true;
            $.each(x, function(i, field){
                if (field.value == "0") {
                    swal("哦——","请将本页所有评分项填写全！","warning");
                    valid = false;
                    return;
                }
            });
            if(!valid) return;
            var currentUser = "user" + store.get('pagecount');
            var userObj = JSON.parse(store.get(currentUser));
            var requestBody = {};

            $.each(x, function(i, field){
                userObj.mood_test[field.name].push(field.value);
            });
            var objStr = JSON.stringify(userObj);
            store.set(currentUser, objStr);
            swal("实验结束","感谢您的参与！祝您心情愉快！");
            $.post("/test/new", {data: objStr},
                    function(data, status) {
                        console.log("\npost status: " + status);
                    });
            //ajax post无法在路有里重定向？？？？
            /*$.ajax({
                type: 'POST',
                url: "/test/new",
                data: {data: objStr},
                success: function(dta, textStatus, jaXHR){
                    if(typeof data.redirect == 'string') {
                        return window.location = data.redirect;
                    }
                },
                dataType: JSON
            });*/
            setTimeout("window.location.href='/'", 3000);
            ;
        });

    });
</script>
